<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>WebPloit</title>
<link rel="icon" href="/images/WebPloit Final Logo.png">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="css/responsive.css">
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

</head>
<body>
	<header id="home" class="section">
	<div class="header_main" style="height: 100vh;">
         <!-- header inner -->
         <div class="header" >
            <div class="container">
               <div class="row" style="justify-content: right;">
                  <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo logoHeading"><a href="#home"><strong  style="color: black;">WebPloit</strong></a> 
                           </div>
                        </div>
                     </div>
                  </div>-->
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9"> 
                     <div class="menu-area" style="text-align: right;">
                        <div class="limit-box">
                           <nav class="main-menu">
                              <ul class="menu-area-main">
                                 <li><a href="#home"  style="color: black;">Home</a></li>
                                 <li><a href="#about"  style="color: black;">About</a></li>
                                 <li><a href="#service"  style="color: black;">Service</a></li>
                                 <li><a href="#contact"  style="color: black;">Contact Us</a></li>
                              </ul>
                           </nav>
                        </div>
                     </div>
                 </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->
      <section >
      	<div class="bannen_inner">
            <div class="container">
                <div class="row marginii">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    	
						<h1 style="margin-top: 65px;">
							<strong>Developed to <a style="color: black;" class="typewrite" data-period="2000" data-type='["Detect", "Defend", "Evolve" ]'>
							<span class="wrap"></span>
							</a>
							</strong>
						</h1>  

                        <p class="donec_text">WebPloit is Pakistan's indigenous and industrial standard web vulnerability assessment tool
							being developed primarily for the local IT industry. It aims at empowering the local companies by cutting the 
							expensive costs and reliability issues in terms of security while relying on the forein and expensive products.
						</p>
                         <a class="get_bg" href="" role="button">Get Started</a>
                    </div>
                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                 <div class="img-box">
                    <figure><img src="images/WebPloit Final Logo.png" alt="img" style="max-width: 100%; padding-left: 160px; padding-top: 50px;"></figure>
                 </div>
            </div>
           </div>
     </div>
    </div>
    </section>
	</header>
    <!-- banner end -->
    <!-- choose start -->
    <div id="about" class="choose_section">
    	<div class="container">
    		<div class="col-sm-12">
    			<h1 class="choose_text">Why you should <span class="color">choose us</span></h1>
    		</div>
    	</div>
    </div>
    <div class="choose_section_2">
    	<div class="container">
    	    <div class="row">
    		    <div class="col-sm-4">
    			    <div class="power_full">
    				    <div class="icon"><a href="#"><img src="images/power-full-icon.png"></a></div>
    				    <h2 class="powerful_text">Completely Indigenous</h2>
    				    <p class="making_tetx">With WebPloit, you are no longer required to rely on the foreign products. WebPloit is being developed with an aim of empowering the IT sector and providing an industrial standard tool.</p>
    			    </div>
    		    </div>
    		    <div class="col-sm-4">
    			    <div class="power">
    				    <div class="icon"><a href="#"><img src="images/optimised-icon.png"></a></div>
    				    <h2 class="totaly_text">Totaly Automated</h2>
    				    <p class="making">All the backend processes are completely automated in the WebPloit. You just have to enter the URL and that's it. The tool itself will take care of the rest.<br><br></p>
    			    </div>
    			 </div>
    		    <div class="col-sm-4">
    			    <div class="power">
    				    <div class="icon"><a href="#"><img src="images/headfone-icon.png"></a></div>
    				    <h2 class="totaly_text">Cost Effective</h2>
    				    <p class="making">You don't need to pay heavy subscription fees to the foreign tools. WebPloit ensures the provision of a cost-effective solution to the local industry of Pakista. The complete business model is yet to be designed.</p>
    			    </div>
    		    </div>
    	    </div>    		
    	</div>
    </div>
    <!-- choose start -->
    <!-- about start -->
    <div class="about_main layout_padding">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<div class="images">
    					<img src="images/SunTzu.jpg" style="max-width: 100%;">
    				</div>
    			</div>
    			<div class="col-md-6">
    				<div class="right_section_main">
    					<h1 class="dolar_tetx"><strong style="color: #2ba879;"> &ldquo;</strong></h1>
    					<h2 class="special_text"><i>Invincibility Lies in the Defense.</i></h2>
    					<p class="donec_text">&mdash; Sun Tzu (The Art of War)</p>
    					<!-- <div class="right_aero"><img src="images/right-aerow.png"></div> -->
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- about end -->
    <!-- service start -->
    <div id="service" class="choose_section">
    	<div class="container">
    		<div class="col-sm-12">
    			<h1 class="choose_text">Our<span class="color"> Service</span></h1>
    			<p class="lorem_text">Since WebPloit is yet under development, it is aiming the following services:</p>
    		</div>
    	</div>
    </div>
    <div class="choose_section_2">
    	<div class="container">
    	    <div class="row">
    		    <div class="col-sm-4">
    			    <div class="about_inner">
    				    <div class="icon"><a href="#"><img src="images/icon-1.png"></a></div>
    				    <h2 class="totaly_text">General Subscription</h2>
    				    <p class="making">You can subscribe to the off-the-shelf package of WebPloit and avail the general services.</p>
    			    </div>
    		    </div>
    		    <div class="col-sm-4">
    			    <div class="dedicated">
    				    <div class="icon"><a href="#"><img src="images/icon-2.png"></a></div>
    				    <h2 class="hosting_text">Customized Services</h2>
    				    <p class="justo_text">If you are organization requiring a customized package, WebPloit is at your service.</p>
    			    </div>
    		    </div>
    		    <div class="col-sm-4">
    			    <div class="about_inner">
    				    <div class="icon"><a href="#"><img src="images/icon-3.png"></a></div>
    				    <h2 class="totaly_text">24/7 Support</h2>
    				    <p class="making">We are all the time available in case of any query, issue, or required technical support.</p>
    			    </div>
    		    </div>
    	    </div>    		
    	</div>
    </div>

    <!-- <div class="choose_section_2">
    	<div class="container">
    	    <div class="row">
    		    <div class="col-sm-4">
    			    <div class="about_inner">
    				    <div class="icon"><a href="#"><img src="images/icon-4.png"></a></div>
    				    <h2 class="totaly_text">Shared Hosting</h2>
    				    <p class="making">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
    			    </div>
    		    </div>
    		    <div class="col-sm-4">
    			    <div class="about_inner">
    				    <div class="icon"><a href="#"><img src="images/icon-5.png"></a></div>
    				    <h2 class="totaly_text">Dedicated Hosting</h2>
    				    <p class="making">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
    			    </div>
    		    </div>
    		    <div class="col-sm-4">
    			    <div class="about_inner">
    				    <div class="icon"><a href="#"><img src="images/icon-6.png"></a></div>
    				    <h2 class="totaly_text">Domain Registration</h2>
    				    <p class="making">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
    			    </div>
    		    </div>
    	    </div> -->
    	    <!-- <div class="bt_main">
    	    	<button class="read_more"><a href="#">Read More</a></button>
            </div>   		 -->
    	</div>
    </div>

    <!-- service end -->
    <!-- contact start -->
    <div id="contact" class="contact_section">
    	<div class="container">
    		<div class="col-sm-12">
    			<h1 class="choose_text">Request A Call  Back</h1>
    			<p class="lorem_text">Got a query? Need a quotation? Require details? Drop us a message or contact us right away!</p>
    		</div>
    	</div>
    </div>
    <div class="contact_section_2">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<div class="input_main">
                       <div class="container">
                          <form action="/action_page.php">
                            <div class="form-group">
                              <input type="text" class="email-bt" placeholder="Name" name="Name">
                            </div>
                            <div class="form-group">
                              <input type="text" class="email-bt" placeholder="Email" name="Email">
                            </div>
                            <div class="form-group">
                              <input type="text" class="email-bt" placeholder="Phone" name="Email">
                            </div>
                                <div class="form-group">
                                  <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="text"></textarea>
                                </div>
                            </form>
                          
                       </div> 
                       <div class="send_btn">
                        <button type="button" class="main_bt"><a href="#">Send</a></button>
                       </div>                   
                    </div>
    			</div>
    			<div class="col-md-6">
    				<div class="section_right">
    					<img src="images/img-2.png" style="max-width: 100%;">
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="contact_section_3">
    	<div class="container">
    		<div class="contact_taital">
    			<div class="row web">
    				<div class="col-sm-12 col-md-12 col-lg-4">
    					<div class="map_main">
    						<img src="images/map-icon.png">
    						<span class="londan_text">Air University, Islamabad</span>
    					</div>
    				</div>
    				<div class="col-sm-6 col-md-6 col-lg-4">
    					<div class="map_main">
    						<img src="images/phone-icon.png">
    						<span class="londan_text">+923001234567</span>
    					</div>
    				</div>
    				<div class="col-sm-6 col-md-6 col-lg-4">
    					<div class="map_main">
    						<img src="images/email-icon.png">
    						<span class="londan_text">webploit@mail.com</span>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="contact_product">
    			<div class="row">
    				<div class="col-sm-6 col-md-6 col-lg-2">
    				</div>
    				
    			</div>
    		</div>
    		<div class="icon_main">
    			<div class="row">
    				<div class="col-sm-12">
    					<div class="menu_text">
    						<ul>
    						   <li><a href="#"><img src="images/fb-icon.png"></a></li>
    						   <li><a href="#"><img src="images/twitter-icon.png"></a></li>
    						   <li><a href="#"><img src="images/in-icon.png"></a></li>
    						   <li><a href="#"><img src="images/google-icon.png"></a></li>
    					    </ul>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="copyright_main">
    	<div class="container">
    		<p class="copy_text">© 2022 All Rights Reserved.</p>
    	</div>
    </div>


    <!-- contact end -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>


      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });



	var TxtType = function(el, toRotate, period) {
			this.toRotate = toRotate;
			this.el = el;
			this.loopNum = 0;
			this.period = parseInt(period, 10) || 2000;
			this.txt = '';
			this.tick();
			this.isDeleting = false;
		};

		TxtType.prototype.tick = function() {
			var i = this.loopNum % this.toRotate.length;
			var fullTxt = this.toRotate[i];

			if (this.isDeleting) {
			this.txt = fullTxt.substring(0, this.txt.length - 1);
			} else {
			this.txt = fullTxt.substring(0, this.txt.length + 1);
			}

			this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

			var that = this;
			var delta = 200 - Math.random() * 100;

			if (this.isDeleting) { delta /= 2; }

			if (!this.isDeleting && this.txt === fullTxt) {
			delta = this.period;
			this.isDeleting = true;
			} else if (this.isDeleting && this.txt === '') {
			this.isDeleting = false;
			this.loopNum++;
			delta = 500;
			}

			setTimeout(function() {
			that.tick();
			}, delta);
		};

		window.onload = function() {
			var elements = document.getElementsByClassName('typewrite');
			for (var i=0; i<elements.length; i++) {
				var toRotate = elements[i].getAttribute('data-type');
				var period = elements[i].getAttribute('data-period');
				if (toRotate) {
				new TxtType(elements[i], JSON.parse(toRotate), period);
				}
			}
			// INJECT CSS
			var css = document.createElement("style");
			css.type = "text/css";
			css.innerHTML = ".typewrite > .wrap {}";
			document.body.appendChild(css);
		};


         </script> 
 
</body>
</html>



